{% extends 'base.html' %}

{% block content %}


    {% if user.is_authenticated %}
    <p><a href="{% url 'user:logout' %}">Logout</a></p>
    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
        <input type="submit" value="POST">
    </form>
    {% endif %}




    {% for object in objects %}
        <ul>
            <li><a href="{% url 'post:detail' slug=object.slug %}">{{ object.title }}</a>
                {{ object.content }}

                <input type="submit" id="like" name="{{ object.slug }}" value="Like" />
                     <p id="likecount">{{ object.total_likes }}</p>
            </li>
        </ul>
    {% endfor %}
{% endblock %}



